<nav class="bg-gray-900 text-white p-3">
  <div class="container mx-auto flex justify-between items-center">
    <a class="text-xl font-bold" routerLink="/">Campus Connect</a>

    <button class="md:hidden" (click)="toggleNavbar()">
      <svg
        class="w-6 h-6"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16m-7 6h7"
        ></path>
      </svg>
    </button>

    <div
      [ngClass]="{ hidden: !isNavbarOpen, block: isNavbarOpen }"
      class="md:flex space-x-4"
    >
      <ng-container *ngIf="isLoggedIn">
        <a class="block py-2 px-4 hover:bg-gray-700 rounded" routerLink="home"
          >Home</a
        >
        <a
          class="block py-2 px-4 hover:bg-gray-700 rounded"
          routerLink="/aiPoweredMockInterview"
          >AI Mock Interview</a
        >
        <a
          class="block py-2 px-4 hover:bg-gray-700 rounded"
          routerLink="/AiPoweredResumeReview"
          >AI Resume Review</a
        >
        <a
          class="block py-2 px-4 hover:bg-gray-700 rounded"
          routerLink="/Feedback"
          >Feedback</a
        >
      </ng-container>

      <!-- Show login/signup if not logged in -->
      <ng-container *ngIf="!isLoggedIn">
        <a
          class="block py-2 px-4 bg-blue-500 hover:bg-blue-700 text-white rounded"
          routerLink="/login"
          >Login</a
        >
        <a
          class="block py-2 px-4 bg-blue-500 hover:bg-blue-700 text-white rounded"
          routerLink="/register"
          >Signup</a
        >
      </ng-container>

      <!-- Show logout button if logged in -->
      <ng-container *ngIf="isLoggedIn">
        <button
          class="block py-2 px-4 bg-red-500 hover:bg-red-700 text-white rounded"
          (click)="logout()"
        >
          Logout
        </button>
      </ng-container>
    </div>
  </div>
</nav>
